.context-menu {
	position: absolute;
	width: 150px;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0;
	border: 0;
	list-style: none;
	cursor: pointer;
}

.context-menu li {
	line-height: 25px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #eee;
	padding: 2px 5px;
	box-sizing: border-box;
}

.context-menu li:hover {
	background: #f2f2f2;
}

.sidebar-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-container ul li {
	padding: 5px;
	border-bottom: 1px solid #eee;
}

.followers img {
	height: 16px;
	padding: 2px;
}

.sidebar-title {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	background: #eee;
	font-weight: bold;
}

.sidebar-container input[type=checkbox] {
	margin-top: 0;
}