# local env
/local.db
/new_local.db
/envit.sh
/local.db-journal

# compiled code
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
# *.mo # https://github.com/hasadna/anyway/pull/438

# Mr Developer
/.mr.developer.cfg
/.project
/.pydevproject
/.idea
.DS_Store

venv
.venv
env
.env

# data files
/static/data/lms
/static/data/cbs
/static/data/rsa

# webassets cache file
/static/.webassets-cache
/static/css/app.min.css
/static/js/app.min.js
/static/js/years.js
/anyway-backbone.iml
