[MESSAGES CONTROL]
disable=R,C,W
enable=unused-import,wildcard-import,dangerous-default-value,anomalous-backslash-in-string,bad-indentation,mixed-indentation,relative-import,bare-except,trailing-whitespace,unused-variable

[REPORTS]
reports=no
score=no
output-format=parseable

[TYPECHECK]
ignored-modules=flask.ext,http.client,google,pandas,google.cloud.language_v1.types
ignored-classes=scoped_session

[FORMAT]
max-line-length=120
