[MESSAGES CONTROL]
disable=R,C,W
enable=unused-import,wildcard-import,dangerous-default-value,anomalous-backslash-in-string,bad-indentation,mixed-indentation,relative-import,bare-except

[REPORTS]
reports=no
score=no
output-format=parseable

[TYPECHECK]
ignored-modules=flask.ext
ignored-classes=scoped_session

[FORMAT]
max-line-length=120
