language: python

cache:
  - pip
  - yarn

python:
  - "2.7.11"

node_js:
  - "6"

services:
  - postgresql

sudo: false

install:
  - pip install -r requirements.txt pylint
  - yarn global add eslint

before_script:
  - psql -c 'create database anyway;' -U postgres
  - export DATABASE_URL='postgresql://postgres@localhost/anyway'
  - python models.py

script:
  - pylint -j $(nproc) *.py tests
  - eslint static/js --ignore-path=static/js/.eslintignore
  - python process.py
  - python united.py --light
  - python -m unittest discover tests
