version: '3'

services:
  anyway:
    build:
      context: .
      args:
        - FLASK_ENV=development
    image: anywayteam/anyway:latest
    container_name: anyway
    ports:
      - "8080:5000"
    environment:
      - DATABASE_URL=postgresql://anyway:anyway@db/anyway
      - FLASK_ENV=development
    volumes:
      - .:/anyway
    restart: always
    depends_on:
      - db

  db:
    build: db_docker
    image: anywayteam/db:latest
    container_name: db
    environment:
      - DBRESTORE_AWS_ACCESS_KEY_ID
      - DBRESTORE_AWS_SECRET_ACCESS_KEY
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "9876:5432"
    restart: always

volumes:
  db_data:
