version: '3'

x-redash-service:
  &redash-service
  image: redash/redash:8.0.0.b32245
  depends_on:
    - postgres
    - redis
  env_file: ./.env
  restart: always
  profiles: [ "redash" ]

services:
  anyway:
    build: .
    image: ghcr.io/hasadna/anyway/anyway:latest
    container_name: anyway
    ports:
      - "8080:5000"
    environment:
      - DATABASE_URL=postgresql://anyway:anyway@db/anyway
      - FLASK_ENV=development
      - TWITTER_CONSUMER_KEY
      - TWITTER_CONSUMER_SECRET
      - TWITTER_ACCESS_KEY
      - TWITTER_ACCESS_SECRET
      - GOOGLE_APPLICATION_CREDENTIALS=GOOGLE_APPLICATION_CREDENTIALS_KEY.json
      - MAPS_API_KEY
    volumes:
      - .:/anyway
    restart: always
    depends_on:
      - db

  db:
    build: db_docker
    image: ghcr.io/hasadna/anyway/db:latest
    container_name: db
    environment:
      - DBRESTORE_AWS_ACCESS_KEY_ID
      - DBRESTORE_AWS_SECRET_ACCESS_KEY
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "9876:5432"
    expose:
      - "5432"
    restart: always

  anyway-etl:
    image: ghcr.io/hasadna/anyway-etl/anyway-etl:latest
    volumes:
      - anyway_etl_data:/var/anyway-etl-data
    depends_on:
      - db
    restart: "no"

  anyway-etl-nginx:
    image: ghcr.io/hasadna/anyway-etl/anyway-etl-nginx:latest
    volumes:
      - anyway_etl_data:/var/anyway-etl-data
    restart: unless-stopped
    ports:
      - "8083:80"

  airflow-db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "123456"
    volumes:
      - "airflow-db:/var/lib/postgresql/data"

  airflow-webserver:
    image: ghcr.io/hasadna/anyway-etl/anyway-etl-airflow:latest
    restart: unless-stopped
    environment:
      ANYWAY_ETL_AIRFLOW_INITIALIZE: "yes"
      ANYWAY_ETL_AIRFLOW_ROLE: "webserver"
      ANYWAY_ETL_AIRFLOW_ADMIN_PASSWORD: "123456"
    ports:
      - "8082:8080"
    volumes:
      - "airflow-home:/var/airflow"
    depends_on:
      - airflow-db

  airflow-scheduler:
    image: ghcr.io/hasadna/anyway-etl/anyway-etl-airflow:latest
    restart: unless-stopped
    environment:
      ANYWAY_ETL_AIRFLOW_ROLE: "scheduler"
      ANYWAY_ETL_AIRFLOW_PIP_INSTALL_DEPS: "yes"
      IMAP_MAIL_USER: "${IMAP_MAIL_USER}"
      IMAP_MAIL_PASSWORD: "${IMAP_MAIL_PASSWORD}"
    volumes:
      - "airflow-home:/var/airflow"
      - anyway_etl_data:/var/anyway-etl-data
    depends_on:
      - airflow-webserver
      - db

  redis:
    container_name: redash-redis
    image: redis:5.0-alpine
    restart: always

  postgres:
    container_name: redash-db
    image: postgres:9.6-alpine
    env_file: ./.env
    volumes:
      - redash-postgres-data:/var/lib/postgresql/data
    restart: always
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PGPORT=5433 # The default port (5432) is reserved for the db of anyway 
    ports:
      - "5433:5433"
    expose:
      - "5433"

  server:
    <<: *redash-service
    container_name: redash-server
    command: server
    environment:
      REDASH_WEB_WORKERS: 4
    ports:
      - "5001:5000"
    expose:
      - "5001"

  scheduler:
    <<: *redash-service
    container_name: redash-scheduler
    command: scheduler
    environment:
      QUEUES: "celery"
      WORKERS_COUNT: 1

  scheduled_worker:
    <<: *redash-service
    container_name: redash-scheduled-worker
    command: worker
    environment:
      QUEUES: "scheduled_queries,schemas"
      WORKERS_COUNT: 1

  adhoc_worker:
    <<: *redash-service
    container_name: redash-adhoc-worker
    command: worker
    environment:
      QUEUES: "queries"
      WORKERS_COUNT: 2

volumes:
  db_data:
  anyway_etl_data:
  airflow-db:
  airflow-home:
  redash-postgres-data:
