{
    "env": {
        "browser": true,
        "jquery": true,
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-undef": "off",
        "no-console": "off",
        "no-unused-vars": "off",
        "no-redeclare": "off",
        "no-inner-declarations": "off",
        "no-trailing-spaces": "error",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
