.accordion-container{
	width: 100%;
	margin: 30px 2px 0px 0px;
}

.accordion-container label{
	width: initial !important;
	display: block !important;
	font-family: 'Alef','sans-serif';
	padding: 0px 10px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 28px;
	font-size: 15px;
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordion-container label:hover{
	background: #fff;
}

.accordion-container input:checked + label,
.accordion-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.accordion-container input:checked + label .fontIcon{
	color: #337F9E;
}

.accordion-container label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 13px;
	top: 4px;
	background: transparent url("../img/arrow_down.png") no-repeat center center;
}

.accordion-container input:checked + label:hover:after{
	background-image: url(../img/arrow_up.png);
}

.accordion-container input{
	display: none;
}

.accordion-container .accordion-roller{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	max-height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		max-height 0.4s ease-out, 
		height 0.1s ease-in-out, 
		box-shadow 0.6s linear;
}

.accordion-container .ac-extra-large{
	transition: max-height 0.6s ease-out;
}

.accordion-container input:checked ~ .accordion-roller{
	transition: 
		max-height 0.5s ease-in, 
		height 0.2s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.accordion-container input:checked ~ .ac-extra-large{
	transition: max-height 0.7s ease-in;
}

.accordion-container .accordion-roller p{
	color: #222;
	font-size: 13px;
	padding: 2px 6px 0px 6px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.accordion-container input:checked ~ .ac-small{
	height: 140px;
}
.accordion-container input:checked ~ .ac-medium{
	height: 180px;
}
.accordion-container input:checked ~ .ac-large{
	height: 230px;
}
.accordion-container input:checked ~ .ac-general{
	max-height: 400px;
}

.accordion-container input:checked ~ .ac-extra-large{
	max-height: 800px;
	overflow-y: auto;
}

.accordion-container .fontIcon{
	vertical-align: middle;
  	margin-left: 10px;
	color: #222;
}

.accordion-container #fa-road-fix{
	font-size: 20px;
	margin-left: 12px;
}
