div[title^='דיון'] {
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: #5BC0EB;
    transform: rotate(-45deg) translate(0px,-18px) !important;
}

div[title^='דיון']:after{
    content: '\e0bf';
    font-family: 'Material Icons';
    font-size: 18px;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: white;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #5BC0EB;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div[title*='תאונה'],.div[title*='תאונות'],.div[title*='איחוד הצלה'],.div[title*='שומרי הדרך']{
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    -webkit-border-radius: 50% 50% 50% 0 !important;
    border-radius: 50% 50% 50% 0 !important;
    transform: rotate(-45deg) translate(12px,-31px) !important;
    background-color: #00aeef

}

div[title*='תאונות']{
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    -webkit-border-radius: 50%  !important;
    border-radius: 50%  !important;
    transform: rotate(-45deg) translate(12px,-31px) !important;
}

div[title*='תאונה']:after, .div[title*='תאונות']:after,.div[title*='איחוד הצלה']:after, .div[title*='שומרי הדרך']:after {
    font-family: 'Material Icons';
    font-size: 18px;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: white;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #00aeef;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div[title$='.']{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    transform: translate(-4px,-4px) !important;
}

div[title*='תאונות']:after{
    content: '\e3e4';
}

div[title$='.']:after {
    visibility: hidden;
}

div[title*='קטלנית']{
    background-color: #D81C32;
}

div[title*='קשה']{
    background-color: #FF9F1C;
}

div[title*='קלה']{
    background-color: #FFD82B;
}

div[title*='שומרי הדרך']{
    background-color: #00aeef;
}

div[title*='קטלנית']:after{
    color: #D81C32;
}

div[title*='קשה']:after{
    color: #FF9F1C;
}

div[title*='קלה']:after{
    color: #FFD82B;
}

div[title*='פגיעה']:after,.div[title*='החלקה']:after,.div[title*='התנגשות']:after{
    content: '\e531';
}

div[title*='נפילה']:after{
    transform: rotate(-45deg) !important;
    content: '\e566';
}

div[title*='אחר']:after{
    content: '\e5d3';
}


div[title*='התהפכות']:after{
    transform: rotate(-100deg) !important;
    content: '\e531';
}

div[title*='ירידה']:after{
    content: '\e8e3';
}

div[title*='(מיקום משוער)']{
    opacity: 0.5 !important;
}

div[title*='מיקום נוכחי']{
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    -webkit-border-radius: 50% 50% 50% 0 !important;
    border-radius: 50% 50% 50% 0 !important;
    transform: rotate(-45deg) !important;
    background-color: #9BC53D;
}

div[title*='מיקום נוכחי']:after{
    content: '\e1b3';
    color: #9BC53D;
    font-family: 'Material Icons';
    font-size: 18px;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: white;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div[title*='איחוד הצלה']:after {
    content: '\e32a';
    color: #142B68;
    font-family: 'Material Icons';
    font-size: 18px;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: white;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div[title*='שומרי הדרך']:after {
    content: '\e853';
    color: #142B68;
    font-family: 'Material Icons';
    font-size: 18px;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: white;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


div[title*='הולך רגל']:after{
    content: '\e536';
}

.gm-style .div[title*='(נבחר)'], .gm-style .div[title]:hover{
    box-shadow: 0px 0px 25px 12px rgb(160,100,140);
}

