@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../font/meteocons-webfont.eot');
    src: url('../font/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/meteocons-webfont.woff') format('woff'),
         url('../font/meteocons-webfont.ttf') format('truetype'),
         url('../font/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    font-family: 'Alef', 'sans-serif';
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    font-family: 'Alef', 'sans-serif';
}

a.brand {
    padding: 1px !important;
    margin-right: 8px !important;
}

div.gm-style {
    font-family: 'Alef', 'sans-serif';
}

.filter-description {
    width: 300px;
    border-bottom: 2px solid #ddd; margin-bottom: 0 !important;
    background-color: white;
    height: 142px;
}

.filter-menu {
    background-color: white;
    line-height: 40px !important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    padding-top: 8px;
}

.filter-panel {
    border-top: 2px solid #ddd; margin-bottom: 0 !important;
    margin-top: 8px;
    width: 300px;
    -webkit-order: 1;
    order: 1;
    overflow-y: scroll;
    height: 350px;
}

input[type=radio], .filter-panel {
    display: none;
}

input[type=radio]:checked + .filter-button {
    color: #08c;
    background: #eee;
}

input[type=radio]:checked + .filter-button + .filter-panel {
    display: block;
}

.filter-button{
    font-size:20px !important;
    color: #ccc;
    cursor: pointer;
    text-align:center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: block;
    vertical-align: middle !important;
    line-height: 40px !important;
    margin: 3px;
}

.filter-button:hover{
    color: #08c;
    background: #eee;
}

.filter-button-label{
    font-size: 9px !important;
    margin-top: 3px !important;
    font-weight: 700 !important;
}

.filter-button-icon{
    margin-top: 5px !important;
}

 .active{
    color: #08c;
}

.separator{
    border-bottom: 1px solid #ddd;
}

.center{
    justify-content: center !important;
    padding-right: 0 !important;
}

.btn-wrap{
    display: flex;
    justify-content: flex-start;
    padding: 8px 10px 8px 0;
    vertical-align: middle;
    line-height: 30px;
}

.btn-label{
    padding-left: 6px;
    color: #ccc;
    cursor: default;
}

.btn, input[type='checkbox']:checked:hover + label{
    height: 30px;
    padding: 0 4px 0 4px;
    color: #ccc !important;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
    vertical-align: middle;
    line-height: 30px;
}

.btn:hover, input[type='checkbox']:checked + label{
    color: #08c !important;
    background: #f2f2f2;
}

.btn:hover, input[type='radio']:checked + label{
    color: #08c !important;
    background: #f2f2f2;
}

.one{
    border-radius: 3px 3px 3px 3px !important;
    margin: 0 5px 0 5px !important;
}

.two{
    width:30%;
}

.three{
    width:20%;
}

.left{
    border-radius: 3px 0 0 3px !important;
}

.right{
    border-left: none !important;
    border-radius: 0 3px 3px 0 !important;
}

.middle{
    border-radius: 0 0 0 0 !important;
    border-left: none !important;
}

.fatal:hover, input[type='checkbox']:checked + label[for="checkbox-fatal"]{
    color: #D81C32 !important;
}

.severe:hover, input[type='checkbox']:checked + label[for="checkbox-severe"]{
    color: #FF9F1C !important;
}

.light:hover, input[type='checkbox']:checked + label[for="checkbox-light"]{
    color: #FFD82B !important;
}

.btn .date{
    width: 36%;
    font-size: 10px !important;
}

.time{
    width: 36%;
    font-size: 10px !important;
}

.icon-weather{
    font-family: 'MeteoconsRegular';
    font-size: 20px;
    width: auto;
}

input[type="date"],input[type="time"]{
    color:#ccc;
    border-color: #ddd;
    margin-bottom: 0;
}

.current-view-count{
    padding-left: 10px;
    font-weight:normal;
    color: #08c;
    float: left;
}

.current-view{
    overflow-y: scroll;
    position: absolute;
    top: 270px;
    bottom: 90px;
    padding-right: 8px;
}

.context-menu {
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0;
	border: 0;
	list-style: none;
	cursor: pointer;
}

.context-menu li {
	line-height: 25px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #eee;
	padding: 2px 5px;
	box-sizing: border-box;
    display:table-row;
    text-align: right;
}

.context-menu li:hover {
	background: #f2f2f2;
}

.sidebar-container{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 40px;
    width: 300px;
    background: white;
    padding-top: 40px;
    height: 100%;
}

.sidebar-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-container ul li {
    width: 300px;
	border-bottom: 1px solid #eee;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sidebar-title {
    height: 30px;
	padding: 5px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	background: #eee;
	font-weight: bold;
}

.sidebar-container input[type=checkbox] {
	margin-top: 0;
}

.map-control{
    width: 62px;
    height: auto;
}

.map-button{
    height: 30px;
    width: 30px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    margin: 16px;
    border-radius: 50%;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.map-button:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    border-color: #4d90fe;
}

.reset-map-control:after{
    font-size: 17px;
    color: #ccc;
    font-family: 'Material Icons';
    content: '\e1b3';
}

.download-csv-control:after{
    font-size: 17px;
    color: #ccc;
    font-family: 'Material Icons';
    content: '\e2c4';
}

.link-map-control:after{
    font-size: 17px;
    color: #ccc;
    font-family: 'Material Icons';
    content: '\e157';
}

.map-button:hover .control-label{
    visibility: visible !important;
    position: fixed;
    margin-right: 46px;
    height: 28px;
    width: auto;
    text-align: right;
    padding-right: 10px;
    padding-left: 12px;
    line-height: 28px;
    font-size: 15px;
    color: #999999;
    background-color: white;
    border-radius: 3px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}

.control-label{
    position: fixed;
    visibility: hidden;
}

.map-button .blink{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 8px rgba(82,168,236,0.6);
}

.tour-control:after{
    font-size: 20px;
    color: #ccc;
    font-family: 'Material Icons';
    content: '\e80c';
}

.blink{
     animation-name: blink;
     animation-duration: 5s;
     animation-timing-function: linear;
     animation-iteration-count: 15;

     /* Chrome, Safari, Opera */
      -webkit-animation-name: blink;
      -webkit-animation-duration: 5s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: 15;
}

 @-webkit-keyframes blink {
      0%,100%{
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 8px rgba(82,168,236,0.6);
      }
      25%,75%{
        box-shadow: inset 0 3px 3px rgba(0,0,0,0.075),0 0 16px rgba(82,168,236,0.6);
      }
      50%{
        box-shadow: inset 0 6px 6px rgba(0,0,0,0.075),0 0 32px rgba(82,168,236,0.6);
      }
}

 @keyframes blink {
      0%,100%{
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 8px rgba(82,168,236,0.6);
      }
      25%,75%{
        box-shadow: inset 0 3px 3px rgba(0,0,0,0.075),0 0 16px rgba(82,168,236,0.6);
      }
      50%{
        box-shadow: inset 0 6px 6px rgba(0,0,0,0.075),0 0 32px rgba(82,168,236,0.6);
      }
}

#map_canvas img {
	max-width: none;
}
/* Bootstrap Css Map Fix*/
#map_canvas label {
	width: auto; display:inline;
}

.info-window{
	position: relative;
    height: 100%;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
}

.navbar-inner{
}

.footer{
    position:fixed;
    height: 40px;
    bottom:0;
    width:100%;
    text-align:
    left; background: white;
    box-shadow: inset 0 0 0 -1px rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
    background-image: linear-gradient(to bottom,#f2f2f2, #fff);
}

.description {
	white-space: pre;
}

/* for search box: */
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 35%;
        height: 30px;
        font-size: 15px;
        font-weight: 400;
        text-overflow: ellipsis;
      }

      #pac-input:hover{
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
        border-color: #4d90fe;
    }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 35%;
      }

      .pac-container {
      }


.embed-code {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.form-control-wide {
    width: 400px;
    direction: ltr;
    text-align: left;
}

h4 {
    max-width:340px
}

textarea.form-control-wide {
    height: 100px;
}
.popover{
    width:300px !important;
    max-width:300px !important;}
/* agam */
.popover-title{
    font-weight: bold;
}
.popover-navigation{
    padding: 8px 14px;
}
.gm-style-iwtour {
   font-family: 'Alef','sans-serif';
   font-size: 14px;
   line-height: 20px;
   width: 300px !important;
   max-width: 300px !important;
   top: 15px !important;
   right: 0px !important;
   left: 0px !important;
   background-color: #fff;
   box-shadow: 0.5px 0.5px 0.5px 1px #bbbbbb;
   border: 1.5px solid #fff;/*rgba(72, 181, 233, 0.6);*/
   border-radius: 5px 5px 5px 5px;

}

.navbar-fixed-top{
    position: absolute !important;
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
}

.sb-button{
    min-height: initial !important;
}

.marker-info-window::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 7px;
}

.marker-info-window::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.toggle-wrapper {
    margin-right: 118px;
    vertical-align: middle;
    cursor: pointer;
    line-height: 40px;
    padding-top: 7px;
}

#toggle {
    /*border-right: 1px solid #ddd;*/
    /*padding-right: 8px;*/
    border-left: 1px solid #ddd;
    padding-left: 8px;
    height: 100%;
    /*padding-top: 1px;*/
}

#toggle div {
    width: 20px;
    height: 2px;
    background: #555;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(4px, 4px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(4px, -5px);
}

input[type='date']{
    font-size: 10px;
}

input[type='checkbox']{
    display: none;
}