body, html {
    font-family: 'Alef', 'sans-serif';
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    font-family: 'Alef', 'sans-serif';
}

div.gm-style {
    font-family: 'Alef', 'sans-serif';
}

.context-menu {
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0;
	border: 0;
	list-style: none;
	cursor: pointer;
}

.context-menu li {
	line-height: 25px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #eee;
	padding: 2px 5px;
	box-sizing: border-box;
    display:table-row;
    text-align: right;
}

.context-menu li:hover {
	background: #f2f2f2;
}

.sidebar-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-container ul li {
	padding: 5px;
	border-bottom: 1px solid #eee;
    cursor: pointer;
}

.sidebar-title {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	background: #eee;
	font-weight: bold;
}

.sidebar-container input[type=checkbox] {
	margin-top: 0;
}

#map_canvas img {
	max-width: none;
}
/* Bootstrap Css Map Fix*/
#map_canvas label {
	width: auto; display:inline;
}

.info-window {
	position: relative;
  height: 100%;
}

.description {
	white-space: pre;
}

/* for search box: */
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        height: 30px;
        font-size: 15px;
        font-weight: 400;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
      }


.embed-code {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.form-control-wide {
    width: 400px;
    direction: ltr;
    text-align: left;
}

textarea.form-control-wide {
    height: 100px;
}
.popover{width:350px;max-width:400px;}

.navbar-fixed-top{
    position: absolute !important;
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
}

.sb-button{
    min-height: initial !important;
}
