<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">
    </head>

    <body>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'anyway-feedback';
            var disqus_identifier = '{{ identifier }}';
            {%  if new %}
            var disqus_url = '{{ url }}discussion?identifier={{ identifier }}';
            function disqus_config() {
                this.callbacks.onNewComment = [
                    function(comment) {
                        $.post("discussion", JSON.stringify({
                            "latitude"  : "{{ latitude }}",
                            "longitude" : "{{ longitude }}",
                            "identifier": "{{ identifier }}",
                            "title"     : "{{ identifier }}"
                        }));
                        return true;
                    }
                ];
            }
            {% endif %}

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <script type="text/javascript" src="static/js/libs/jquery-1.8.2.min.js"></script>
    </body>
</html>


