<!doctype html>
<html lang="en">

<head>
    <title>Schools Dashboard</title>
</head>

<body>
    <div class='tableauPlaceholder' id='viz1533575802721' style='position: relative'>
        <noscript><a href='#'><img alt='תאונות דרכים סביב בתי ספרדו״ח זה בוחן את כמות התאונות בהן נפגעו הולכי רגל עד גיל 19, בסביבתם של מוסדות לימוד ברחבי הארץ בין השנים 2013-2017. אם זיהית מפגע, קליק ימין על מיקומו, יאפשר יצירת דיון עליו. אנו נשתף את הרשויות בדיונים שיפורסמו ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;97&#47;97M2DBK8C&#47;1_rss.png' style='border: none' /></a></noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared&#47;97M2DBK8C' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;97&#47;97M2DBK8C&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
    <script type='text/javascript'>
    var divElement = document.getElementById('viz1533575802721');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '100%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</body>

</html>
