{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

        {% if current_user.is_authenticated() %}
            <div dir="rtl" style="
             display: inline-block;
             position: fixed;
              left: 0;
              right: 0;
              width: 300px;
              height: 100px;
              margin: auto;">
        <h1>שליחת אימייל למשתמשים רשומים:</h1>
        <p class="lead">

        </p>
            כתובות אימייל:
            <br>
             <textarea name="emails" id="emails" rows="5" cols="30" readonly dir="ltr">
              {%- for item in user_emails -%}
                 {{item}}
             {%- endfor -%}
            </textarea>
            <br/>

            נושא:<br>
                <input type="text" name="subject" id="subject">
                <br/>
            תוכן:<br/>
                <textarea name="message" id="message" rows="10" cols="30">

                </textarea>
                <br/>
                <input type="button" value="שלח" id="submit">

         {% assets filters="rjsmin", output="js/app_send_email.min.js",
            "js/libs/jquery-1.8.2.min.js",
            "js/libs/notify-combined.min.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
         <script type="text/javascript">
         $(document).ready(function() {
             $('#submit').click(function () {
                 var subj = $("#subject").val();
                 var msg = $("#message").val();
                 var data = JSON.stringify({'subject': subj, 'message': msg});
                 $.post("", data, function (reply) {
                     alert(reply);
                     $("#subject").val("");
                     $("#message").val("");
                 });
             });
         });
         </script>
        {% endif %}
    </div>
</div>
{% endblock body %}