name: Tests

on:
  pull_request:
      branches:
        - master
        - dev
  push:
    branches:
      - master
      - dev
jobs:
  Eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.1
      with:
          node-version: '8.17'
    - run: npm install -g eslint
    - run: eslint static/js --ignore-path=static/js/.eslintignore
  Pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r test_requirements.txt -r requirements.txt
    - name: Pylint
      run: |
        pylint anyway tests main.py --ignored-modules=pandas
  Tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Starting Server and DB
      run: |
        docker-compose -f docker-compose.yml up -d --build
    - name: Waiting for DB startup
      run: |
        bash ./wait_for_postgres.sh
    - name: DB Initialization
      run: |
        docker exec anyway alembic upgrade head
        docker exec anyway ./main.py process registered-vehicles
        docker exec anyway ./main.py process cbs
    - name: Tests
      run: |
        docker exec anyway pip install -r ./test_requirements.txt
        docker exec anyway pytest tests -m "not browser"
    - name: Logging docker in case of failure
      if: failure()
      run : |
        docker ps
        docker container inspect anyway
        docker logs --details anyway
        echo +-+-+-
        docker container inspect db
        docker logs --details db
